extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Imagen de nosotros", class="img-fluid")

            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum odor amet, consectetuer adipiscing elit. Auctor orci nunc urna nec per hac fusce laoreet taciti. Nunc consequat at sociosqu congue penatibus in rhoncus semper. Etiam urna consectetur rhoncus feugiat scelerisque enim.

                p Sem per mauris ultrices montes sodales facilisis amet porttitor. Maecenas lobortis class cursus consequat elementum tortor est. Metus convallis consequat ut donec risus hac mi netus nullam. Urna lorem curabitur neque ad est finibus tempor.

                p Lorem elit cras, aliquam dictumst integer odio. Dictum imperdiet ornare ullamcorper malesuada pulvinar dignissim class. Elementum vel elit viverra neque augue vivamus lacus tempus. Posuere suspendisse semper dictum luctus sociosqu.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono de seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Elementum vel elit viverra neque augue vivamus lacus tempus. Posuere suspendisse semper dictum luctus sociosqu. 
                
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono de destinos", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Destinos
                    p Elementum vel elit viverra neque augue vivamus lacus tempus. Posuere suspendisse semper dictum luctus sociosqu. 
                
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono de precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Elementum vel elit viverra neque augue vivamus lacus tempus. Posuere suspendisse semper dictum luctus sociosqu. 
    